<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "FilmIndex", "Film")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    <li>@Html.ActionLink("电影库", "FilmAll", "Film")</li>
                    <li>@Html.ActionLink("搜索", "FilmSearch", "Film")</li>
                    <li>@Html.ActionLink("详情", "Detail", "Home")</li>
                </ul>
            </div>
            <div style="float:right;margin-top:1.6%;margin-left:20px;">
                <a data-toggle="modal" data-target="#signin">登陆</a>
                <a data-toggle="modal" data-target="#signup">注册</a>
            </div>
            <div style="float:right;margin-top:0.8%">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="searchBt"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for..." id="searchCt">
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var btSignIn = document.getElementById('btSignIn')
    btSignIn.onclick = function () {
        var signInPassword = document.getElementById('signInPassword')
        var signInName = document.getElementById('signInName')
        var signState = false

        $.post('@Url.Action("SignIn","Home")', "name=" + document.getElementById('signInName').value + "&password=" + document.getElementById('signInPassword').value)
            .done(function (data) {
                if (data == '1') {
                    document.getElementById('userName').innerText = document.getElementById('signInName').value
                    $('#signin').modal('hide')
                }
                else {
                    alert('输入错误')
                }
            })
            .fail(function (data) {
                alert('fail');
            })
    }

    var btSearch = document.getElementById('searchBt')
    btSearch.onclick = function () {
        var searchCt = document.getElementById('searchCt').value
        var href = "/Film/FilmSearch?input=" + searchCt
        window.location.href = href
    }


</script>
