
@{
    ViewBag.Title = "FilmIndex";
}
//热门电影
@ViewBag.hotMovie 
<br />
//高评分电影
@ViewBag.highRateMovie
<br />
//高评分中国电影
@ViewBag.ChineseHighRateMovie
<br />
//高评分美国电影
@ViewBag.AmericanHighRateMovie
<br />
//高评分英国电影
@ViewBag.EnglishHighRateMovie
<br />
//高评分意大利电影
@ViewBag.ItlianHighRateMovie
<br />
//高评分韩国电影
@ViewBag.KoreanHighRateMovie
<br />
//高评分日本电影
@ViewBag.JapanHighRateMovie
<h2>FilmIndex</h2>

